.input{
    height: 100px;
    background-color: rgb(220, 210, 250);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 320px;
}
.send{
float: right;
}
.button{
    height: 50px;
    float: right;
    margin-right: 50px;
}