<ion-header> 
  <ion-toolbar color="success">
      <ion-icon name="arrow-back-circle-outline" slot="start" size="large"(click)="back()"></ion-icon>
    <ion-title><p align="center">Mail page </p></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>

    
<ion-item>
  <ion-textarea placeholder="Enter your message here..." class="input"></ion-textarea>
</ion-item>

    <div class="send">
      
    
    <ion-button class="button">Send<ion-icon name="send" slot="end" size="large"(click)="back()"></ion-icon></ion-button>
  </div>
  </ion-content>